.row {
  text-align: center;
  margin: 45px 0 0 0;
}

.partlycloudy {
  font-size: 55px;
  text-align: center;
  margin: 60px 0 0 0;
}
.temperature {
  font-size: 85px;
  text-align: center;
}
.weather {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 25px 0 0 0;
}

ul {
  list-style: none;
  position: relative;
  right: -350px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 50px auto;
  max-width: 600px;
}

.weather-app {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.units {
  position: relative;
  top: -50px;
  text-decoration: none;
  font-size: 13px;
}

a {
  font-size: small;
}

img {
  position: relative;
  top: -20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  position: relative;
  top: 35px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
